<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.online.mapper.TaskMapper">
    <cache/>
    <resultMap id="taskModel" type="com.online.common.model.Task">
        <id column="id" property="id" javaType="Long" />
        <id column="create_user" property="createUser" javaType="String"/>
        <id column="task_code" property="taskCode" javaType="String" />
        <result column="task_name" property="taskName" javaType="String"/>
        <result column="task_type" property="taskType" javaType="String" />
        <result column="priority" property="priority" javaType="String"/>
        <result column="start_time" property="startTime" javaType="java.util.Date" />
        <result column="end_time" property="endTime" javaType="java.util.Date" />
        <result column="complete_status" property="completeStatus" javaType="Integer"
            jdbcType="CHAR" typeHandler="com.online.common.handler.CharTypeHandler" />
        <result column="complete_percent" property="completePercent" javaType="Integer"
            jdbcType="CHAR" typeHandler="com.online.common.handler.CharTypeHandler" />
        <result column="total_percent" property="totalPercent" javaType="Integer"
            jdbcType="CHAR" typeHandler="com.online.common.handler.CharTypeHandler" />
        <result column="create_date" property="createDate" javaType="java.util.Date" />
        <result column="task_content" property="taskContent" javaType="String" />
        <result column="task_title" property="taskTitle" javaType="String" />
    </resultMap>
    <select id="getAllMyTask" parameterType="map" resultType="list">
        select  id, task_code, create_user, task_name, task_type, start_time, end_time, priority,
                complete_status, complete_percent, total_percent, create_date , task_content, task_title
          from tf_f_task
         where create_user = #{createUser}
         <if test="offset == null">
            and limit #{offset}
         </if>
        <if test="pageSize == null">
            ,#{pageSize}
        </if>
    </select>
    <insert id="saveTask" flushCache="true" parameterType="com.online.common.model.Task"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into tf_f_task(task_code,task_name,task_type,start_time,end_time,priority,
          complete_status,complete_percent,total_percent,create_user,create_date)
          values
          (#{taskCode},#{taskName},#{taskType},#{startTime},#{endTime},#{priority},
           #{completeStatus,typeHandler=com.online.common.handler.CharTypeHandler},
           #{completePercent,typeHandler=com.online.common.handler.CharTypeHandler},
           #{totalPercent,typeHandler=com.online.common.handler.CharTypeHandler},
           #{createUser},#{createDate})
    </insert>
    <update id="updateTask" flushCache="true" parameterType="com.online.common.model.Task">
         update tf_f_task
         <set>
             <if test="startTime != null> ">start_time=#{startTime},</if>
             <if test="endTime != null">end_time=#{endTime},</if>
             <if test="priority != ''" >priority=#{priority},</if>
             <if test="taskType != null and taskType!=''">task_type=#{taskType}</if>
             <if test="completeStatus != null">complete_status=#{completeStatus,typeHandler=com.online.common.handler.CharTypeHandler}</if>
         </set>
        where
            id = #{id}
    </update>
    <delete id="deleteTask" flushCache="true" parameterType="long">
        delete from tf_f_task where id=#{id}
    </delete>

    <select id="getUnderTaskByUserCode" parameterType="map"
            resultType="list">
          select   id, task_code, create_user, task_name, task_type, start_time, end_time, priority,
                complete_status, complete_percent, total_percent, create_date , task_content , task_title
            from tf_f_task t
           where t.create_user = #{userCode}
             and t.complete_status != #{completeStatus}
    </select>
</mapper>